-
    var url = require('./../variables-for-templates').url

.blog-block
    .col-12.mt-5
        h1.text-black.text-center.text-uppercase.text-underline Блог
    .col-12.row.mx-0
        .col-7.px-0
            .blog-part-5
                .block-area
                    h3.part-text.text-light Some text
                .blog-arrow
                    img(src=url + '/assets/images/blog/blog-arrow.png', alt='')
                img(src=url + '/assets/images/blog/blog3.jpg', alt='')
        .col-5.px-0
            .col-12.px-0
                .blog-part-3
                    .block-area
                        h3.part-text.text-light Some text
                    .blog-arrow
                        img(src=url + '/assets/images/blog/blog-arrow.png', alt='')
                    img(src=url + '/assets/images/blog/blog2.jpg', alt='')
            .col-12.px-0
                .blog-part-2
                    .block-area
                        h3.part-text.text-light Some text
                    .blog-arrow
                        img(src=url + '/assets/images/blog/blog-arrow.png', alt='')
                    img(src=url + '/assets/images/blog/blog1.jpg', alt='')
